<div class="c-item">
  <div class="c-item__img">
    <img [src]="item.image" [alt]="item.title" [title]="item.title" />
  </div>
  <div class="c-item__data">
    <div class="c-item__fav" [class.faved]="item.favourite" (click)="toggleFavourite()">
      <img class="c-item__icon icon-fav" src="../../../assets/images/icons/star.svg" alt="Guardar como favorito" title="Quitar de favoritos" />
      <img class="c-item__icon icon-fav-filled" src="../../../assets/images/icons/star_filled.svg" alt="Quitar de favoritos" title="Guardar Como favorito" />
    </div>

    <p class="c-item__data-title">{{ item.title }}<span class="c-item__data-price"> · {{ item.price | currency:'EUR':'symbol':'0.0-2' }}</span></p>
    <p class="c-item__data-description">{{ item.description }}</p>
    <p class="c-item__data-email">Contact: <span class="c-item__data-email-value">{{ item.email }}</span></p>
  </div>
</div>
