@import '../../../assets/styles/_mixins';
@import '../../../assets/styles/_variables';

:host(wp-item-element) {
  width: 100%;

  .c-item {
    display: flex;
    flex-direction: column;
    position: relative;

    @include breakpoint(md) {
      flex-direction: row;
      height: 250px;
    }

    p {
      margin: 0px 0px $double-spacing;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__icon {
      width: 100%;
      height: 100%;
    }

    &__img {
      max-width: 250px;
      height: 100%;
      width: 100%;
      margin: 0 auto;

      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 15px;

        @include breakpoint(md) {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__data {
      width: 100%;
      padding: $double-spacing;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      box-sizing: border-box;

      &-title {
        font-size: $default-font-size;
        font-weight: 700;

        @include breakpoint(ms) {
          font-size: $title-font-size;
        }
      }

      &-description, &-email {
        font-size: $mobile-font-size;

        @include breakpoint(ms) {
          font-size: $default-font-size;
        }
      }
    }

    &__fav {
      cursor: pointer;
      width: 25px;
      height: 25px;
      position: absolute;
      right: $double-spacing;
      top: $double-spacing;

      .icon-fav-filled {
        display: none;
      }

      &.faved, &:hover {
        .icon-fav {
          display: none;
        }

        .icon-fav-filled {
          display: unset;
        }
      }
    }
  }

  &.c-item__favourite {
    width: calc((100vw - (#{$base-spacing * 5})) / 2);
    margin-right: $base-spacing;
    float: left;

    @include breakpoint(md) {
      width: calc(50% - #{$base-spacing});
    }

    &:nth-child(2n) {
      margin-right: 0px;
    }

    .c-item {
      flex-direction: column;
      height: unset;

      &__data {
        padding: $base-spacing;
        position: unset;

        @include breakpoint(md) {
          flex-direction: row;
          height: 60px;
        }

        &-title {
          margin: 0px !important;
          width: 100%;
        }

        &-price, &-description, &-email {
          display: none;
        }
      }

      &__fav {
        top: $base-spacing;
        right: $base-spacing;
      }

      &__img {
        img {
          width: 100%;
          height: 200px;
        }
      }
    }
  }
}
