<div class="c-fav-modal">
  <button class="c-fav-modal__close" (click)="closeModal.emit()">X</button>

  <h1 class="c-item-search__title">Favourite items</h1>

  <input class="c-input__search" [(ngModel)]="fieldValue" placeholder="Enter search" />
  <wp-item-list
    [items]="items | filterFields:fieldValue:FILTERS"
    [mode]="MODE_FAV"
    (removeFav)="remove($event)">
  </wp-item-list>
</div>