@import '../../../assets/styles/_mixins';
@import '../../../assets/styles/_variables';

:host(wp-fav-modal) {
  .c-fav-modal {
    height: calc((100vh / 2) + 100px);
    min-height: 350px;
    width: 100%;
    background-color: $color-white;
    overflow-y: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $double-spacing;
    box-sizing: border-box;
    border-radius: 10px;

    @include breakpoint(md) {
      width: 500px;
    }

    &__close {
      position: absolute;
      right: $double-spacing;
      top: $double-spacing;
      border: none;
      outline: none;
      color: $color-text;
      font-size: 25px;
      background: none;
      padding: 0px;

      &:hover {
        color: $color-black;
        cursor: pointer;
      }

      &:active, &:focus {
        border: none;
        outline: none;
      }
    }
  }

  wp-item-list {
    display: block;
    margin-top: $double-spacing;
    overflow: hidden;
  }
}
