<div class="c-item-search">
  <h1 class="c-item-search__title">Wallapop test item Searcher</h1>

  <div class="c-item-search__favourites">
    <button class="c-item-search__favourites-btn" (click)="showFavourites()">
      Favourites
      <img src="../../../assets/images/icons/star_filled.svg" alt="Favoritos" />
    </button>
  </div>

  <div class="c-item-search__field">
    <label class="c-input__label">Filter</label>
    <input class="c-input__search" [(ngModel)]="fieldValue" (ngModelChange)="filterItems()" placeholder="Enter search" />
  </div>
  <div class="c-item-search__field">
    <label class="c-input__label">Order</label>
    <select class="c-input__search" [(ngModel)]="filterMode" (ngModelChange)="filterItems()" placeholder="Hello there">
      <option [id]="option.id" [value]="option.id" *ngFor="let option of filterOptions">{{ option.value }}</option>
    </select>
  </div>

  <wp-item-list [items]="items"></wp-item-list>

  <div class="c-item-search__load">
    <button class="c-item-search__load-btn" (click)="loadMore()" *ngIf="items.length < currentFilterItems.length">Load more</button>
  </div>
</div>
<wp-fav-modal *ngIf="favOpen" (closeModal)="favOpen = false"></wp-fav-modal>
