@import '../../../assets/styles/_mixins';
@import '../../../assets/styles/_variables';

:host(wp-item-search) {
  width: 100%;

  .c-item-search {
    position: relative;
    padding-bottom: $double-spacing;

    &__title {
      text-align: center;

      @include breakpoint(md) {
        text-align: left;
      }
    }

    &__field {
      text-align: center;

      @include breakpoint(md) {
        text-align: unset;
      }

      label {
        display: none;
      }

      input.c-input__search {
        margin-bottom: $base-spacing;
      }

      @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 320px;

        label {
          display: unset;
        }
      }

      @include breakpoint(lg) {
        display: inline-block;
  
        input.c-input__search {
          margin-right: $base-spacing;
          margin-bottom: 0px;
        }
      }
    }

    &__favourites {
      text-align: center;
      margin-bottom: $double-spacing;

      @include breakpoint(md) {
        margin-bottom: 0px;
      }
    }

    &__favourites-btn, &__load-btn {
      width: 250px;
      height: 40px;
      padding: $base-spacing;
      cursor: pointer;
      background-color: #20B2AA;
      color: $color-white;
      border: none;
      border-radius: 5px;

      @include breakpoint(md) {
        width: 120px;
      }

      &:hover {
        color: $color-text;
      }

      &:active, &:focus {
        border: none;
        outline: none;
      }
    }

    &__favourites-btn {
      padding: $base-spacing 41px $base-spacing $base-spacing;
      position: relative;

      @include breakpoint(md) {
        position: absolute;
        right: $double-spacing;
      }

      img {
        width: 25px;
        height: 25px;
        position: absolute;
        right: $base-spacing;
        top: 7px;
      }
    }

    &__load {
      text-align: center;
      margin-top: $double-spacing;
    }
  }

  wp-item-list {
    display: block;
    margin-top: calc(#{$double-spacing} * 2);
  }
}
