input, select {
  &.c-input {
    &__search {
      width: 250px;
      height: 30px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid $color-text;
      padding: $half-spacing;
      box-sizing: border-box;

      &:active, &:focus {
        border: 1px solid $color-text;
      }
    }
  }
}

.c-input {
  &__label {
    font-size: $default-font-size;
    margin-right: $base-spacing;
  }
}
