// Colors
$color-text: #777;
$color-white: #fff;
$color-black: #000;

// Spacing
$base-spacing: 8px;
$half-spacing: $base-spacing / 2;
$double-spacing: $base-spacing * 2;

// Fonts
$default-font-size: 16px;
$title-font-size: 20px;
$mobile-font-size: 14px;
