@import '../../../assets/styles/_mixins';
@import '../../../assets/styles/_variables';

:host(wp-item-list) {
  width: 100%;

  .c-item-list {
    &__noresults {
      font-size: $title-font-size;
      text-align: center;
      padding: $double-spacing;
    }
  }

  wp-item-element {
    display: block;
    margin-bottom: $double-spacing;
    border-bottom: 1px solid $color-text;

    @include breakpoint(md) {
      padding-bottom: $double-spacing;
    }

    &:last-child {
      margin-bottom: 0px;
      padding-bottom: 0px;
      border-bottom: none;
    }

    &.c-item-list__fav {
      border-bottom: none;
      margin-bottom: $base-spacing;
      padding-bottom: 0px;
    }
  }
}
