<wp-item-element *ngFor="let item of items"
  [class.c-item-list__fav]="mode === MODE_FAV"
  [item]="item"
  [mode]="mode"
  (toggleFav)="toggleFav(item)">
</wp-item-element>
<div class="c-item-list__noresults" *ngIf="items.length === 0">No results</div>
